@import "./partials/variables.css";
@import "./partials/global.css";
@import "./partials/header.css";
@import "./partials/footer.css";
@import "./partials/blocks.css";
@import "./partials/utilities.css";
@import "./home.css";
@import "./conditions.css";

/* ---------- Global navigation: NPS Part 5 ---------- */

.global-nav {
  display: block;
  visibility: visible;
  width: 100%;
  grid-column: 1 / 3;
  border-top: 1px solid #333;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.global-nav.show {
  max-height: 1000px;
}

.global-nav__section-heading {
  color: white;
}

.global-nav__list {
  display: block;
  visibility: visible;
  list-style: none;
  margin: 0;
  padding: 0;
}

.global-nav__list li {
  display: block;
}

.global-nav__split-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.global-nav__split-button a {
  color: white;
  padding: 1rem;
  text-decoration: none;
}

.global-nav__split-button button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 1rem;
}

.global-nav__split-button svg {
  --icon-color: white;
}

.global-nav__toggle {
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
}

.global-nav__toggle--closed,
.global-nav__toggle--open {
  align-items: center;
  gap: 0.25rem;
}

.global-nav__toggle--closed {
  display: flex;
}

.global-nav__toggle--open {
  display: none;
}

.global-nav__toggle[aria-expanded="true"] .global-nav__toggle--closed {
  display: none;
}

.global-nav__toggle[aria-expanded="true"] .global-nav__toggle--open {
  display: flex;
}

@media screen and (min-width: 700px) {
  .global-nav {
    max-height: 1000px;
    overflow: visible;
  }

  .global-nav__toggle {
    display: none;
  }
}